  body {       
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .f {
    background: red;
    border-radius: 0%;
    height: 100px;
    width: 100px;
    margin: 8%; 
  }
 
   
   .o1 {
    position: absolute;
    right: 41%;
    top: 31%;
    animation: O1 2s linear infinite;
  } 
  
  .o2 {
    position: absolute;
    animation: O2 2s linear infinite; 
    right: 41%;
    top: 31%;
  }

   .o3 {
    position: absolute;
    animation: O3 2s linear infinite; 
    right: 41%;
    top: 31%;
  } 

  .o4 {
    position: absolute;
    animation: O4 2s linear infinite; 
    right: 41%;
    top: 31%;
  }

    @keyframes O1 {
        0% { transform: rotate(0deg) translateX(250px) rotate(0deg); border-radius: 0%; }
		25% {border-radius: 25%;}
		50% {border-radius: 50%; background: green;}
		80% {border-radius: 25%;}
        100% { transform: rotate(360deg) translateX(250px) rotate(0deg); border-radius: 0%; }
        }
    
       @keyframes O2 {
			0% { transform: rotate(30deg) translateX(250px) rotate(0deg); border-radius: 0%; }
			25% {border-radius: 25%;}
			50% {border-radius: 50%; background: green;}
			80% {border-radius: 25%;}
			100% { transform: rotate(390deg) translateX(250px) rotate(0deg); border-radius: 0%; }
		}
        
      
        @keyframes O3 {
			0% { transform: rotate(60deg) translateX(250px) rotate(0deg); border-radius: 0%; }
			25% {border-radius: 25%;}
			50% {border-radius: 50%; background: green;}
			80% {border-radius: 25%;}
			100% { transform: rotate(420deg) translateX(250px) rotate(0deg); border-radius: 0%;}
        }
        
        @keyframes O4 {
			0% { transform: rotate(90deg) translateX(250px) rotate(0deg); border-radius: 0%; }
			25% {border-radius: 25%;}
			50% {border-radius: 50%; background: green;}
			80% {border-radius: 25%;}
			100% { transform: rotate(450deg) translateX(250px) rotate(0deg); border-radius: 0%;}
        }   

        